<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.powerPoseTest.IJjRepository">
	
	<insert id="insertJj" parameterType="com.example.powerPoseTest.jungah.model.Jj">
		<![CDATA[
		    INSERT INTO jj (id, title, context)
		    VALUES (id_seq.nextval, #{title}, #{context})
		]]>
	</insert>
	

    <select id="selectAllJj" resultType="com.example.powerPoseTest.jungah.model.Jj">
		<![CDATA[
        SELECT id AS "id", title AS "title", context AS "context"
        FROM jj
        ]]>
	</select>
	
	
	<select id="view" resultType="com.example.powerPoseTest.jungah.model.Jj">
		<![CDATA[
        SELECT id AS "id", title AS "title", context AS "context"
        FROM jj
        WHERE id = #{id}
        ]]>
	</select>
	  <update id="updateJj" parameterType="hashmap">
		<![CDATA[
        UPDATE jj
        SET title   = #{title},
            context = #{context}
        WHERE id = #{id}
        ]]>
	</update>
	
	<delete id="delete" parameterType="int">
	<![CDATA[
        DELETE
        FROM jj
        WHERE id = #{id}
        ]]>
	</delete>
</mapper>
